<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Dsps!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <nav class="nav">
  <div class="nav-left">
    <a class="nav-item logo_text">
      DSPS
    </a>
  </div>

  <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
  <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
  <span class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
  </span>

  <!-- This "nav-menu" is hidden on mobile -->
  <!-- Add the modifier "is-active" to display it on mobile -->
  <div class="nav-right nav-menu">
      <%= if @conn.assigns.is_logged_in do %>
      <p class="nav-item">
        <%= @conn.assigns.user_data.username %>
      </p>
      <p class="nav-item">
        <%= @conn.assigns.user_data.email %>
      </p>
      <p class="nav-item">
        <%= @conn.assigns.user_data.password %>
      </p>
      <p class="nav-item">
        Sec: <%= logged_in_time(@conn.assigns.session_data.logged_in) %>
      </p>
      <%= link "Logout", to: session_path(@conn, :delete), method: :delete, class: "a-red", form: [class: "nav-item"] %>
      <% else %>
      <%= link "Login",    to: "/login", class: "nav-item" %>
      <%= link "Register", to: registration_path(@conn, :new), class: "nav-item" %>
      <% end %>
  </div>
</nav>
    <div class="container">
      <header class="header">
        <span class="logo"></span>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= @conn.assigns.is_logged_in %>
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
