<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Dsps!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="https://gitcdn.link/repo/Chalarangelo/mini.css/master/dist/mini-default.min.css">
  </head>

  <body>
  <header class="sticky">
      <div class="right">
          <%= if @conn.assigns.is_logged_in do %>
              <a href="#" class="button"><%= @conn.assigns.user_data.username %></a>
              <%= link "Logout", to: "/logout", method: :delete, form: [class: "button"] %>
          <% else %>
              <%= link "Login",    to: "/login", class: "button" %>
              <%= link "Register", to: registration_path(@conn, :new), class: "button" %>
          <% end %>
      </div>
  </header>
    <div class="container">
        <%= if get_flash(@conn, :info) do %>
            <div class="alert urgent">
                <p><%= get_flash(@conn, :info) %></p>
            </div>
        <% end %>
        <%= if get_flash(@conn, :error) do %>
            <div class="alert urgent">
                <p><%= get_flash(@conn, :error) %></p>
            </div>
        <% end %>
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
