<h2>Edit stream graph</h2>

<%= render "form.html", changeset: @changeset,
                        action: stream_graph_path(@conn, :update, @stream_graph) %>

<%= link "Back", to: stream_graph_path(@conn, :index) %>
